# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
*.egg-info/

# IDE/editor dirs
.vscode/
.idea/

# Data, logs, models
*.pt
*.pth
logs/
.DS_Store

Transformer_Trading/